# =====================================================
# Input Folder
# =====================================================
input/*
!input/KEEP.md
# =====================================================
# Output Folder
# =====================================================
output/*
!output/KEEP.md
# =====================================================
# Python
# =====================================================
__pycache__/
# =====================================================
# Virtual Environment
# =====================================================
.venv/
venv/
env/
# =====================================================
# VS Code
# =====================================================
.vscode/
# =====================================================
# Log Files
# =====================================================
*.log
# =====================================================
# OS Files
# =====================================================
.DS_Store
Thumbs.db

